Repository imperial-space/SS14-public, pull requests merged in 2025-03, with the labels that each got.

#166 Border radius panel
  Content.Client/Imperial/Options/ImperialOptionsMenuTab.xaml.cs
  Content.Client/Imperial/Roadmap/UI/BorderedPanelContainer.cs
  Content.Client/Imperial/Roadmap/license.txt
  Resources/Prototypes/Imperial/Shaders/UI/border_radius.yml
  Resources/Textures/Imperial/Shaders/UI/border_radius.swsl
Labels: Impact: Low, Prototypes, C#, Shaders, UI

#185 Me and the birds
  Resources/Audio/Imperial/Jukebox/attributions.yml
  Resources/Audio/Imperial/Jukebox/meandthebirds.ogg
  Resources/Prototypes/Catalog/Imperial/jukebox.yml
Labels: size/Small, Change WIz Prototypes, Change Wiz Audio, Audio

#199 Fools
  Resources/Locale/ru-RU/Imperial/AprilFools/cluwne.ftl
  Resources/Locale/ru-RU/datasets.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-wizards.ftl
  Resources/Locale/ru-RU/job/IAA.ftl
  Resources/Maps/Nonstations/cluwne_remap.yml
  Resources/Prototypes/Datasets/verbs.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Imperial/AprilFools/cluwne_atag.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/Imperial/Cluwne/combat_shoegloves.rsi/equipped-HAND.png
  Resources/Textures/Imperial/Cluwne/combat_shoegloves.rsi/icon.png
  Resources/Textures/Imperial/Cluwne/combat_shoegloves.rsi/inhand-left.png
  Resources/Textures/Imperial/Cluwne/combat_shoegloves.rsi/inhand-right.png
  Resources/Textures/Imperial/Cluwne/combat_shoegloves.rsi/meta.json
  Resources/Textures/Imperial/Cluwne/imperialAipril.jpg
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/equipped-EYES.png
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/icon.png
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/inhand-left.png
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/inhand-right.png
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/meta.json
  Resources/Textures/Interface/Misc/job_icons.rsi/Clown.png
  Resources/Textures/Interface/Misc/job_icons.rsi/HeadOfSecurity.png
Labels: Resprite, size/Medium, Prototypes, Change WIz Prototypes, Sprite
