Repository imperial-space/SS14-public, pull requests merged in 2025-06, with the labels that each got.

#268 Суперсинтезатор для музыкантов
  Resources/Prototypes/Imperial/Roles/Jobs/Wildcards/supersynt.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: size/Small, Prototypes, Change WIz Prototypes

#273 ADD: Unlimited length for Flavor text
  Content.Shared/Imperial/ICCVars/ICCVars.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Change Wiz Code, size/Small, C#

#271 Ивентовый контент
  Resources/Locale/ru-RU/Imperial/Crook/crook.ftl
  Resources/Prototypes/Imperial/Spotifaika/amnesia.yml
  Resources/Textures/Imperial/Spotifaika/Amnesia/flesh.rsi/icon-1.png
  Resources/Textures/Imperial/Spotifaika/Amnesia/flesh.rsi/icon-2.png
  Resources/Textures/Imperial/Spotifaika/Amnesia/flesh.rsi/icon-3.png
  Resources/Textures/Imperial/Spotifaika/Amnesia/flesh.rsi/icon-4.png
  Resources/Textures/Imperial/Spotifaika/Amnesia/flesh.rsi/icon-5.png
  Resources/Textures/Imperial/Spotifaika/Amnesia/flesh.rsi/icon-6.png
  Resources/Textures/Imperial/Spotifaika/Amnesia/flesh.rsi/meta.json
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#275 Цель для ниндзи: "Без следа"
  Content.Client/Imperial/Ninja/Objectives/LeaveNoTrace/LeaveNoTraceSystem.cs
  Content.Client/Imperial/Ninja/Objectives/LeaveNoTrace/RevealOverlay.cs
  Content.Client/Imperial/Ninja/Objectives/LeaveNoTrace/RevealOverlayFadeComponent.cs
  Content.Client/Imperial/Ninja/Objectives/LeaveNoTrace/license.txt
  Content.Server/Imperial/Ninja/Objectives/LeaveNoTrace/LeaveNoTraceSystem.cs
  Content.Server/Imperial/Ninja/Objectives/LeaveNoTrace/license.txt
  Content.Shared/Imperial/Ninja/Objectives/LeaveNoTrace/DataDefinition/GlitchShaderParametersData.cs
  Content.Shared/Imperial/Ninja/Objectives/LeaveNoTrace/DataDefinition/RevealTextureData.cs
  Content.Shared/Imperial/Ninja/Objectives/LeaveNoTrace/Events/NinjaHideAttemptEvent.cs
  Content.Shared/Imperial/Ninja/Objectives/LeaveNoTrace/Events/NinjaHideEvent.cs
  Content.Shared/Imperial/Ninja/Objectives/LeaveNoTrace/Events/NinjaRevealedAttemptEvent.cs
  Content.Shared/Imperial/Ninja/Objectives/LeaveNoTrace/Events/NinjaRevealedEvent.cs
  Content.Shared/Imperial/Ninja/Objectives/LeaveNoTrace/LeaveNoTraceComponent.cs
  Content.Shared/Imperial/Ninja/Objectives/LeaveNoTrace/LeaveNoTraceConditionComponent.cs
  Content.Shared/Imperial/Ninja/Objectives/LeaveNoTrace/SharedLeaveNoTraceSystem.cs
  Content.Shared/Imperial/Ninja/Objectives/LeaveNoTrace/license.txt
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Imperial/Entities/Effects/exclamation.yml
  Resources/Prototypes/Imperial/Objectives/ninja.yml
  Resources/Prototypes/Imperial/Shaders/glitch.yml
  Resources/Prototypes/Imperial/Shaders/sprite_fill.yml
  Resources/Textures/Imperial/Interface/Misc/Ninja/eye.png
  Resources/Textures/Imperial/Shaders/glitch.swsl
  Resources/Textures/Imperial/Shaders/sprite_fill.swsl
Labels: Resprite, Change Wiz Code, Prototypes, C#, Change WIz Prototypes, Sprite, Shaders

#277 Ивентовый контент
  Resources/Locale/ru-RU/Imperial/SpiderClan/spiderclan.ftl
  Resources/Prototypes/Imperial/SpiderClan/Clothing/backpacks.yml
  Resources/Prototypes/Imperial/SpiderClan/Clothing/boots.yml
  Resources/Prototypes/Imperial/SpiderClan/Clothing/gas_tanks.yml
  Resources/Prototypes/Imperial/SpiderClan/Clothing/gloves.yml
  Resources/Prototypes/Imperial/SpiderClan/Clothing/jumpsuits.yml
  Resources/Prototypes/Imperial/SpiderClan/Clothing/masks.yml
  Resources/Prototypes/Imperial/SpiderClan/Clothing/suits.yml
  Resources/Prototypes/Imperial/SpiderClan/Misc/loadouts.yml
  Resources/Prototypes/Imperial/SpiderClan/Misc/medterminal.yml
  Resources/Prototypes/Imperial/SpiderClan/Misc/misc.yml
  Resources/Prototypes/Imperial/SpiderClan/Weapons/energykatana.yml
  Resources/Textures/Imperial/SpiderClan/Clothing/headsets/blue.rsi/equipped-EARS.png
  Resources/Textures/Imperial/SpiderClan/Clothing/headsets/blue.rsi/icon.png
  Resources/Textures/Imperial/SpiderClan/Clothing/headsets/blue.rsi/meta.json
  Resources/Textures/Imperial/SpiderClan/Clothing/headsets/green.rsi/equipped-EARS.png
  Resources/Textures/Imperial/SpiderClan/Clothing/headsets/green.rsi/icon.png
  Resources/Textures/Imperial/SpiderClan/Clothing/headsets/green.rsi/meta.json
  Resources/Textures/Imperial/SpiderClan/Clothing/headsets/red.rsi/equipped-EARS.png
  Resources/Textures/Imperial/SpiderClan/Clothing/headsets/red.rsi/icon.png
  Resources/Textures/Imperial/SpiderClan/Clothing/headsets/red.rsi/meta.json
  Resources/Textures/Imperial/SpiderClan/Misc/banner.rsi/SCBanner.png
  Resources/Textures/Imperial/SpiderClan/Misc/encrykey.rsi/crypt_clan.png
  Resources/Textures/Imperial/SpiderClan/Misc/encrykey.rsi/meta.json
  Resources/Textures/Imperial/SpiderClan/Misc/encrykey.rsi/ninja.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#270 OperationalErtCleaners
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Imperial/JanitorsResponseTeam/CallJRTViaCentcomFaxComponent.cs
  Content.Server/Imperial/JanitorsResponseTeam/CallJRTViaCentcomFaxSystem.cs
  Content.Shared/Imperial/JanitorsResponseTeam/Components/SolutionDynamicColorOfStampComponent.cs
  Content.Shared/Imperial/JanitorsResponseTeam/Components/TrashComponent.cs
  Content.Shared/Imperial/JanitorsResponseTeam/SolutionDynamicColorSystem.cs
  Resources/Locale/ru-RU/Imperial/JanitorsResponseTeam/jrt.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/ammunition/cartridges/soap_shell.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Maps/Imperial/JanitorsResponseTeam/JRT.yml
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/Imperial/Other/ErtCall/ErtCallPresets.yml
  Resources/Prototypes/Imperial/Other/JanitorsResponseTeam/clothing.yml
  Resources/Prototypes/Imperial/Other/JanitorsResponseTeam/ghostRoles.yml
  Resources/Prototypes/Imperial/Other/JanitorsResponseTeam/jrtCallPresets.yml
  Resources/Prototypes/Imperial/Other/JanitorsResponseTeam/jrtLoadouts.yml
  Resources/Prototypes/Imperial/Other/JanitorsResponseTeam/jrtPrototypes.yml
  Resources/Prototypes/Imperial/Other/JanitorsResponseTeam/uplink.yml
  Resources/Textures/Objects/Weapons/Guns/Launchers/hydra_launcher.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/hydra_launcher.rsi/icon.png
Labels: Resprite, Change Wiz Code, size/Medium, Prototypes, C#, Change WIz Prototypes, Grid

#269 Добавление ивентового контента
  Resources/Audio/Imperial/Horror/Shadow/activated1.ogg
  Resources/Audio/Imperial/Horror/Shadow/activated2.ogg
  Resources/Audio/Imperial/Horror/Shadow/activated3.ogg
  Resources/Audio/Imperial/Horror/Shadow/distant1.ogg
  Resources/Audio/Imperial/Horror/Shadow/distant2.ogg
  Resources/Audio/Imperial/Horror/Shadow/distant3.ogg
  Resources/Audio/Imperial/Horror/Shadow/idle1.ogg
  Resources/Audio/Imperial/Horror/Shadow/idle2.ogg
  Resources/Audio/Imperial/Horror/Shadow/idle3.ogg
  Resources/Audio/Imperial/Horror/Shadow/idle4.ogg
  Resources/Audio/Imperial/Horror/Shadow/idle5.ogg
  Resources/Audio/Imperial/Horror/Shadow/idle6.ogg
  Resources/Audio/Imperial/Horror/Shadow/ontop1.ogg
  Resources/Audio/Imperial/Horror/Shadow/ontop2.ogg
  Resources/Audio/Imperial/Horror/Shadow/ontop3.ogg
Labels: Audio

#280 Всем сеньор ролям встроен МШ и добавлен CanBeAntag: false
  Resources/Prototypes/Imperial/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Imperial/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Imperial/Roles/Jobs/Science/senior_researcher.yml
Labels: size/Small, Prototypes

#279 ADD: Hidden slots and Toggle Marking for hardsuits
  Content.Client/Imperial/HiddenSlots/HiddenSlotsSystem.cs
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Server/Imperial/ToggleMarking/ToggleMarkingSystem.cs
  Content.Shared/Imperial/HiddenSlots/HiddenSlotsComponent.cs
  Content.Shared/Imperial/ToggleMarking/ToggleMarkingComponent.cs
  Content.Shared/Imperial/ToggleMarking/ToggleMarkingEvents.cs
  Resources/Locale/ru-RU/Imperial/ToggleMark/toggle_markings.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Imperial/Actions/toggle.yml
  Resources/Prototypes/Imperial/Datasets/blocked_slots.yml
  Resources/Textures/Imperial/ToggleMarking/hide_ears.png
  Resources/Textures/Imperial/ToggleMarking/hide_tail.png
  Resources/Textures/Imperial/ToggleMarking/show_ears.png
  Resources/Textures/Imperial/ToggleMarking/show_tail.png
Labels: Resprite, Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes, Sprite

#282 Ивентовый контент
  Resources/Locale/ru-RU/Imperial/Crook/crook.ftl
  Resources/Locale/ru-RU/Imperial/KAKTYC/content.ftl
  Resources/Locale/ru-RU/Imperial/SpiderClan/spiderclan.ftl
  Resources/Locale/ru-RU/Imperial/Spotifaika/content.ftl
  Resources/Prototypes/Imperial/Crook/plushies.yml
  Resources/Prototypes/Imperial/DeadSector/weapons/weapons/LMG.yml
  Resources/Prototypes/Imperial/KAKTYC/Ratvar/misc.yml
  Resources/Prototypes/Imperial/KAKTYC/sanabi.yml
  Resources/Prototypes/Imperial/SpiderClan/Misc/misc.yml
  Resources/Prototypes/Imperial/SpiderClan/Misc/ninjasleeper.yml
  Resources/Prototypes/Imperial/Spotifaika/amnesia.yml
  Resources/Textures/Imperial/SpiderClan/Clothing/Default/Jumpsuits/ninja.rsi/icon.png
  Resources/Textures/Imperial/SpiderClan/Clothing/Default/Jumpsuits/ninjaalt.rsi/icon.png
  Resources/Textures/Imperial/SpiderClan/Misc/Card.rsi/holo.png
  Resources/Textures/Imperial/SpiderClan/Misc/Card.rsi/meta.json
  Resources/Textures/Imperial/SpiderClan/Misc/Card.rsi/spaceninja.png
  Resources/Textures/Imperial/SpiderClan/Misc/Card.rsi/unshaded.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#283 FixPilotingForAncestor
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Change WIz Prototypes

#289 локализация воздушной гранаты и Василиска
  Resources/Locale/ru-RU/airgrenade/airgrenade.ftl
  Resources/Locale/ru-RU/basilisk/basilisk.ftl
Labels: size/Small

#290 фикс рку
  Resources/Locale/ru-RU/Imperial/SpecialUnits/RCU/staff.ftl
  Resources/Prototypes/Imperial/SpecialUnits/DeathSquad/Staff/NewClothing/DeathSquadHardsuitAlt.yml
  Resources/Prototypes/Imperial/SpecialUnits/RCU/Staff/Clothing/PDA.yml
Labels: size/Small, Prototypes, Change WIz Prototypes

#294 FixMimeEmergencyKit - Update file "emergency.yml" 274 line
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: Change WIz Prototypes

#296 Updated the document printer - JRT challenge
  Resources/Locale/ru-RU/Imperial/DocumentPrinter/doc-text-printer.ftl
  Resources/Prototypes/Imperial/DocumentPrinter/documents.yml
Labels: size/Small, Prototypes, Change WIz Prototypes

#298 REMOVE: Kill objective for traitor
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: size/Small, Change WIz Prototypes

#300 Local criminal-records job-filter and species-filter
  Resources/Locale/ru-RU/criminal-records/criminal-records.ftl
Labels: size/Small

#302 Ивентовый контент. Добавлен компонент FutureDiary.
  Content.Server/Imperial/FutureDiary/FutureDiaryComponent.cs
  Content.Server/Imperial/FutureDiary/FutureDiarySystem.cs
Labels: C#

#301 Ивентовый контент
  Resources/Audio/Imperial/Crook/bloodcult_eyes.ogg
  Resources/Audio/Imperial/Crook/bloodcult_scribe.ogg
  Resources/Locale/ru-RU/Imperial/Crook/nucleardawn.ftl
  Resources/Locale/ru-RU/Imperial/DeadSector/location_objects.ftl
  Resources/Locale/ru-RU/Imperial/Felix/objects.ftl
  Resources/Prototypes/Imperial/Crook/decals.yml
  Resources/Prototypes/Imperial/Crook/nucleardawn.yml
  Resources/Prototypes/Imperial/DeadSector/location_objects.yml
  Resources/Prototypes/Imperial/Felix/objects.yml
  Resources/Prototypes/Imperial/Felix/secret.yml
  Resources/Prototypes/Imperial/SpiderClan/Weapons/energykatana.yml
  Resources/Textures/Imperial/Crook/Decals/nucleardawn.rsi/logo.png
  Resources/Textures/Imperial/Crook/Decals/nucleardawn.rsi/meta.json
  Resources/Textures/Imperial/Crook/nucleardawn.rsi/banner.png
  Resources/Textures/Imperial/Crook/nucleardawn.rsi/meta.json
  Resources/Textures/Imperial/DeadSector/location_objects/monument.rsi/icon.png
  Resources/Textures/Imperial/DeadSector/location_objects/monument.rsi/meta.json
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/blue.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/blue_words.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/grey.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/grey_words.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/ksiva.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/ksiva_words.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/meta.json
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-cap.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-ce.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-centcom.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-chaplain.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-clown.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-cmo.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-coroner.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-deny.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-detective.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-federation-military.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-federation.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-generic.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-greytide.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-hop.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-hos.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-lawyer.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-mime.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-ok.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-psychologist.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-qm.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-rd.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-research.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-rfi.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-syndicate.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-trader.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-warden.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/paper_stamp-wizard.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/passport.png
  Resources/Textures/Imperial/Felix/Objects/paper.rsi/passport_words.png
  Resources/Textures/Imperial/SpiderClan/Weapon/bluekatana_item.rsi/meta.json
  Resources/Textures/Imperial/SpiderClan/Weapon/bluekatana_item.rsi/storage.png
  Resources/Textures/Imperial/SpiderClan/Weapon/greenkatana_item.rsi/meta.json
  Resources/Textures/Imperial/SpiderClan/Weapon/greenkatana_item.rsi/storage.png
  Resources/Textures/Imperial/SpiderClan/Weapon/redkatana_item.rsi/meta.json
  Resources/Textures/Imperial/SpiderClan/Weapon/redkatana_item.rsi/storage.png
Labels: Resprite, Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes, Sprite, Change Wiz Audio, Audio
