Repository imperial-space/SS14-public, pull requests merged in 2025-08, with the labels that each got.

#360 Ивентовый контент | Фикс
  Resources/Locale/ru-RU/Imperial/Spaceguns/UplinkCatalogSpaceguns.ftl
  Resources/Prototypes/Imperial/Spaceguns/BSA_guns.yml
  Resources/Prototypes/Imperial/Spaceguns/Grenade_launcher.yml
  Resources/Prototypes/Imperial/Spaceguns/Self_loading.yml
  Resources/Prototypes/Imperial/Spaceguns/UplinkCatalogSpaceguns.yml
Labels: size/Small, Prototypes, Change WIz Prototypes

#359 КВАС.
  Resources/Locale/ru-RU/Imperial/Crook/misc.ftl
  Resources/Prototypes/Imperial/Crook/misc.yml
  Resources/Textures/Imperial/Crook/Misc/kvass.rsi/fill-1.png
  Resources/Textures/Imperial/Crook/Misc/kvass.rsi/fill-2.png
  Resources/Textures/Imperial/Crook/Misc/kvass.rsi/fill-3.png
  Resources/Textures/Imperial/Crook/Misc/kvass.rsi/fill-4.png
  Resources/Textures/Imperial/Crook/Misc/kvass.rsi/fill-5.png
  Resources/Textures/Imperial/Crook/Misc/kvass.rsi/icon.png
  Resources/Textures/Imperial/Crook/Misc/kvass.rsi/icon_empty.png
  Resources/Textures/Imperial/Crook/Misc/kvass.rsi/meta.json
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#348 Проведение Хонкоматери
  Resources/Locale/ru-RU/Imperial/ChildrenOfHonkmother/clothing.ftl
  Resources/Prototypes/Imperial/ChildrenOfHonkmother/HonkmotherProvidence/HonkmotherMask.yml
  Resources/Prototypes/Imperial/ChildrenOfHonkmother/HonkmotherProvidence/HonkmotherShoes.yml
  Resources/Prototypes/Imperial/ChildrenOfHonkmother/HonkmotherProvidence/HonkmotherSuit.yml
  Resources/Prototypes/Imperial/ChildrenOfHonkmother/gear.yml
  Resources/Prototypes/Imperial/Loadouts/Wildcards/Clown.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Imperial/ChildrenOfHonkmother/mask.rsi/equipped-MASK.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/mask.rsi/icon.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/mask.rsi/inhand-left.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/mask.rsi/inhand-right.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/mask.rsi/meta.json
  Resources/Textures/Imperial/ChildrenOfHonkmother/shoes.rsi/equipped-FEET.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/shoes.rsi/icon.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/shoes.rsi/inhand-left.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/shoes.rsi/inhand-right.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/shoes.rsi/meta.json
  Resources/Textures/Imperial/ChildrenOfHonkmother/suit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/suit.rsi/icon.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/suit.rsi/inhand-left.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/suit.rsi/inhand-right.png
  Resources/Textures/Imperial/ChildrenOfHonkmother/suit.rsi/meta.json
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#317 Новый основной источник энергии
  Content.Server/Imperial/Power/Components/SupermatterEventComponent.cs
  Content.Server/Imperial/Power/Components/SupermatterIntegrityComponent.cs
  Content.Server/Imperial/Power/Components/SupermatterMonitorConsoleComponent.cs
  Content.Server/Imperial/Power/Components/SupermatterTouchComponent.cs
  Content.Server/Imperial/Power/EntitySystems/Events/ISupermatterEvent.cs
  Content.Server/Imperial/Power/EntitySystems/Events/SupermatterLightningEvent.cs
  Content.Server/Imperial/Power/EntitySystems/Events/SupermatterNoneEvent.cs
  Content.Server/Imperial/Power/EntitySystems/Events/SupermatterPlasmaEvent.cs
  Content.Server/Imperial/Power/EntitySystems/Events/SupermatterRadiationEvent.cs
  Content.Server/Imperial/Power/EntitySystems/SupermatterEventSystem.cs
  Content.Server/Imperial/Power/EntitySystems/SupermatterIntegritySystem.cs
  Content.Server/Imperial/Power/EntitySystems/SupermatterMonitorConsoleSystem.cs
  Content.Server/Imperial/Power/EntitySystems/SupermatterTouchSystem.cs
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/ru-RU/Imperial/entities/machines/specific.ftl
  Resources/Locale/ru-RU/Imperial/entities/objects/specific.ftl
  Resources/Locale/ru-RU/Imperial/entities/supermatter.ftl
  Resources/Locale/ru-RU/Imperial/entityes.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/decoration/crystals.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Imperial/Entities/Structures/Power/Generation/SuperMatter/crystal.yml
  Resources/Prototypes/Imperial/Entities/Structures/Power/Generation/SuperMatter/monitor_console.yml
  Resources/ServerInfo/Guidebook/Engineering/Generators.xml
  Resources/ServerInfo/Guidebook/Engineering/SupermatterEngine.xml
  Resources/Textures/Imperial/Structures/Power/Generation/SuperMatter/supermatter.rsi/meta.json
  Resources/Textures/Imperial/Structures/Power/Generation/SuperMatter/supermatter.rsi/supermatter.png
Labels: Resprite, Change Wiz Code, size/Medium, Prototypes, C#, Change WIz Prototypes, Sprite

#361 Локализация воздушной сигнализации, тех панелей, а также лодаутов. Перевод.
  Content.Client/Atmos/Monitor/UI/Widgets/PumpControl.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ThresholdBoundControl.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ThresholdControl.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/NetworkConfigurator/NetworkConfiguratorConfigurationMenu.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Shared/Wires/SharedWiresComponent.cs
  Resources/Locale/ru-RU/Imperial/Atmos/air-alarm.ftl
  Resources/Locale/ru-RU/Imperial/Engineering/network-configurator.ftl
  Resources/Locale/ru-RU/Imperial/Engineering/wire-panel.ftl
  Resources/Locale/ru-RU/Imperial/Loadouts/loadouts.ftl
  Resources/Locale/ru-RU/Imperial/Shuttles/console_window.ftl
  Resources/Locale/ru-RU/atmos/air-alarm-ui.ftl
  Resources/Locale/ru-RU/gases/gases.ftl
Labels: Change Wiz Code, size/Small, C#, Change WIz Prototypes, UI

#386 Локализация мага. H/M
  Resources/Locale/ru-RU/Imperial/WizardLocalization/objectives.ftl
Labels: size/Small

#384 Ивентовый контент
  Resources/Locale/ru-RU/Imperial/DeadSector/posters.ftl
  Resources/Prototypes/Imperial/DeadSector/posters.yml
  Resources/Prototypes/Imperial/Felix/objects.yml
  Resources/Textures/Imperial/DeadSector/posters.rsi/meta.json
  Resources/Textures/Imperial/DeadSector/posters.rsi/poster-12.png
  Resources/Textures/Imperial/DeadSector/posters64x32.rsi/meta.json
  Resources/Textures/Imperial/DeadSector/posters64x32.rsi/poster-1.png
  Resources/Textures/Imperial/DeadSector/posters64x64.rsi/meta.json
  Resources/Textures/Imperial/DeadSector/posters64x64.rsi/poster-1.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#383 Ивентовый контент
  Resources/Locale/ru-RU/Imperial/ILIARD/skullknife.ftl
  Resources/Prototypes/Imperial/ILIARD/knife.yml
  Resources/Textures/Imperial/ILIARD/skullKnife.rsi/icon.png
  Resources/Textures/Imperial/ILIARD/skullKnife.rsi/inhand-left.png
  Resources/Textures/Imperial/ILIARD/skullKnife.rsi/inhand-right.png
  Resources/Textures/Imperial/ILIARD/skullKnife.rsi/meta.json
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#382 Локализация!
  Resources/Locale/ru-RU/Imperial/Actions/actions.ftl
  Resources/Locale/ru-RU/Imperial/HardsuitInjection/hardsuitinjection.ftl
  Resources/Locale/ru-RU/actions/actions/internals.ftl
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/borg/borg.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/strip/strippable-component.ftl
Labels: size/Small

#381 Event Content (EP)
  Resources/Textures/Imperial/DeadSector/posters.rsi/poster-1.png
  Resources/Textures/Imperial/DeadSector/posters.rsi/poster-2.png
  Resources/Textures/Imperial/DeadSector/posters.rsi/poster-3.png
  Resources/Textures/Imperial/DeadSector/posters.rsi/poster-6.png
Labels: Resprite, size/Small, Sprite

#379 Рефактор суперматерии, рандомизация, отключение событий во время войны
  Content.Server/Imperial/Power/Components/SupermatterEventComponent.cs
  Content.Server/Imperial/Power/Components/SupermatterIntegrityComponent.cs
  Content.Server/Imperial/Power/Components/SupermatterMonitorConsoleComponent.cs
  Content.Server/Imperial/Power/Components/SupermatterTouchComponent.cs
  Content.Server/Imperial/Power/EntitySystems/Events/SupermatterLightningEvent.cs
  Content.Server/Imperial/Power/EntitySystems/Events/SupermatterNoneEvent.cs
  Content.Server/Imperial/Power/EntitySystems/Events/SupermatterPlasmaEvent.cs
  Content.Server/Imperial/Power/EntitySystems/Events/SupermatterRadiationEvent.cs
  Content.Server/Imperial/Power/EntitySystems/SupermatterEventSystem.cs
  Content.Server/Imperial/Power/EntitySystems/SupermatterIntegritySystem.cs
  Content.Server/Imperial/Power/EntitySystems/SupermatterMonitorConsoleSystem.cs
  Content.Server/Imperial/Power/EntitySystems/SupermatterTouchSystem.cs
  Resources/Locale/ru-RU/Imperial/entities/supermatter.ftl
  Resources/Prototypes/Imperial/Entities/Structures/Power/Generation/SuperMatter/crystal.yml
Labels: Change Wiz Code, size/Medium, Prototypes, C#, Change WIz Prototypes

#377 Изменения Ботаники
  Resources/Prototypes/Hydroponics/randomChemicals.yml
Labels: size/Small, Change WIz Prototypes

#393 Event Content Hotfix (EP)
  Resources/Prototypes/Imperial/decals_RU.yml
  Resources/Textures/Imperial/Other/ElysiumPrime/StarCorps/ShuttleAirlockPack/ShadowGlasses.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/StarCorps/ShuttleAirlockPack/WhiteGlasses.rsi/meta.json
Labels: size/Small, Prototypes, Change WIz Prototypes

#392 Ивентовый контент
  Resources/Prototypes/Imperial/Crook/samurai.yml
  Resources/Prototypes/Imperial/SpiderClan/Misc/mobprototypes.yml
Labels: Prototypes

#404 Ивентовый контент | Fixed
  Resources/Locale/ru-RU/Imperial/Felix/objects.ftl
  Resources/Prototypes/Imperial/Felix/objects.yml
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/crane_cargo.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/crane_cargo2.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/crawler.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/crawler2.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/crawler_crate_alt.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/crawler_crate_alt2.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/crawler_fuel.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/crawler_fuel2.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/tractor_damaged.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/tractor_damaged2.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/truck_damaged.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/truck_damaged2.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/truck_mining.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle.rsi/truck_mining2.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle2.rsi/car_pileup.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle2.rsi/car_pileup2.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Vehicle2.rsi/meta.json
Labels: Resprite, Prototypes, Change WIz Prototypes, Sprite

#401 Ивентовый контент
  Content.Server/Imperial/Crook/Components/MetalDetectorComponent.cs
  Content.Server/Imperial/Crook/Systems/MetalDetectorSystem.cs
  Content.Shared/Imperial/Crook/Visuals/MetalDetectorVisuals.cs
  Resources/Prototypes/Imperial/MetalDetector/machine.yml
  Resources/Prototypes/Imperial/Other/TFG/Toughguys/plushie_spawner.yml
  Resources/Textures/Imperial/Crook/NuclearDawn/scouthelmet.rsi/icon-flash.png
  Resources/Textures/Imperial/Crook/NuclearDawn/scouthelmet.rsi/icon.png
  Resources/Textures/Imperial/Crook/NuclearDawn/scouthelmet.rsi/off-equipped-HELMET.png
  Resources/Textures/Imperial/Crook/NuclearDawn/scouthelmet.rsi/on-equipped-HELMET.png
  Resources/Textures/Imperial/Crook/NuclearDawn/scoutsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Crook/NuclearDawn/scoutsuit.rsi/icon.png
Labels: Resprite, Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes, Sprite

#399 Some content fo EP
  Resources/Audio/Imperial/ElysiumPrime/Announce/Announce-1.ogg
  Resources/Audio/Imperial/ElysiumPrime/Announce/AvariyaSierra.ogg
  Resources/Audio/Imperial/ElysiumPrime/Announce/EPThanks.ogg
  Resources/Audio/Imperial/ElysiumPrime/Announce/EndEventAnnounce.ogg
  Resources/Audio/Imperial/ElysiumPrime/Announce/Flight1.ogg
  Resources/Audio/Imperial/ElysiumPrime/Announce/Flight2.ogg
  Resources/Audio/Imperial/ElysiumPrime/Announce/Flight3.ogg
  Resources/Audio/Imperial/ElysiumPrime/Announce/GreenSecLevel.ogg
  Resources/Audio/Imperial/ElysiumPrime/Announce/PoliceControl.ogg
  Resources/Audio/Imperial/ElysiumPrime/Announce/Transport-Offline.ogg
  Resources/Audio/Imperial/ElysiumPrime/Announce/Transport-Online.ogg
  Resources/Audio/Imperial/ElysiumPrime/Emergency/Avariynoe.ogg
  Resources/Audio/Imperial/ElysiumPrime/Emergency/Evacuation.ogg
  Resources/Audio/Imperial/ElysiumPrime/Emergency/HighSecLevel.ogg
  Resources/Audio/Imperial/ElysiumPrime/Emergency/Isolation-Global.ogg
  Resources/Audio/Imperial/ElysiumPrime/Emergency/Isolation-Local.ogg
  Resources/Audio/Imperial/ElysiumPrime/Emergency/Military-Level.ogg
  Resources/Audio/Imperial/ElysiumPrime/Registration/End-3.ogg
  Resources/Audio/Imperial/ElysiumPrime/Registration/Main-1.ogg
  Resources/Audio/Imperial/ElysiumPrime/Registration/RegAnons-4.ogg
  Resources/Audio/Imperial/ElysiumPrime/Registration/Rules-2.ogg
  Resources/Audio/Imperial/ElysiumPrime/Space/AutomatingSystem.ogg
  Resources/Audio/Imperial/ElysiumPrime/Space/ScanningBadEnd.ogg
  Resources/Audio/Imperial/ElysiumPrime/Space/ScanningGoodEnd.ogg
  Resources/Audio/Imperial/ElysiumPrime/Space/ScanningStart.ogg
  Resources/Audio/Imperial/ElysiumPrime/Station/AdjutantAnnounce.ogg
  Resources/Audio/Imperial/ElysiumPrime/Station/Arrival-1.ogg
  Resources/Audio/Imperial/ElysiumPrime/Station/Arrival-3.ogg
  Resources/Audio/Imperial/ElysiumPrime/Station/Arrival-4.ogg
  Resources/Audio/Imperial/ElysiumPrime/Station/Arrival-6.ogg
  Resources/Audio/Imperial/ElysiumPrime/Station/Information-Pilot.ogg
  Resources/Audio/Imperial/ElysiumPrime/Station/Information-Service.ogg
  Resources/Audio/Imperial/ElysiumPrime/Station/LoyalAnons1.ogg
  Resources/Audio/Imperial/ElysiumPrime/Station/LoyalAnons2.ogg
  Resources/Audio/Imperial/ElysiumPrime/Station/MainTradeAnons.ogg
  Resources/Audio/Imperial/ElysiumPrime/attributions.yml
Labels: size/Small, Audio

#411 Ивентовый контент
  Resources/Locale/ru-RU/Imperial/Felix/objects.ftl
  Resources/Locale/ru-RU/imperial_radio.ftl
  Resources/Prototypes/Imperial/DeadSector/clothing/headset.yml
  Resources/Prototypes/Imperial/RadioChannels/imperial_radio_channels.yml
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Administration.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Administration.rsi/radio-channel-admin.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Bank.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Bank.rsi/radio-channel-bank.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/CommoditySpecialist.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/CommoditySpecialist.rsi/radio-channel-suply.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/CommonChannels/AdministrativeSector.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/CommonChannels/AdministrativeSector.rsi/radio-channel-adminsector.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/CommonChannels/FinancialSector.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/CommonChannels/FinancialSector.rsi/radio-channel-tradingsector.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/CommonChannels/ManufacturingSector.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/CommonChannels/ManufacturingSector.rsi/radio-channel-fabricsector.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Miner.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Miner.rsi/radio-channel-miner.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Police.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Police.rsi/radio-channel-police.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Shipyard.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Shipyard.rsi/radio-channel-shipyard.png
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Wastes.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/Radio/Wastes.rsi/radio-channel-cargotech.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite
