Repository imperial-space/SS14-public, pull requests merged in 2025-07, with the labels that each got.

#291 Рапира и имплантики для синдикексов
  Content.Server/Imperial/Implants/Components/NutrientPumpComponent.cs
  Content.Server/Imperial/Implants/Systems/NutrientPumpSystem.cs
  Resources/Locale/ru-RU/Imperial/Implants/locale.ftl
  Resources/Locale/ru-RU/Imperial/Rapier/locale.ftl
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Imperial/Other/Implants/abilities.yml
  Resources/Prototypes/Imperial/Other/Implants/implants.yml
  Resources/Prototypes/Imperial/Other/Implants/uplink.yml
  Resources/Prototypes/Imperial/Other/Rapier/rapier.yml
  Resources/Prototypes/Imperial/Other/Rapier/uplink.yml
  Resources/Textures/Imperial/Other/Rapier/sheath-syndie-rapiera.rsi/equipped-BELT.png
  Resources/Textures/Imperial/Other/Rapier/sheath-syndie-rapiera.rsi/meta.json
  Resources/Textures/Imperial/Other/Rapier/sheath-syndie-rapiera.rsi/sheath-full.png
  Resources/Textures/Imperial/Other/Rapier/sheath-syndie-rapiera.rsi/sheath.png
  Resources/Textures/Imperial/Other/Rapier/syndie-rapiera.rsi/inhand-left.png
  Resources/Textures/Imperial/Other/Rapier/syndie-rapiera.rsi/inhand-right.png
  Resources/Textures/Imperial/Other/Rapier/syndie-rapiera.rsi/meta.json
  Resources/Textures/Imperial/Other/Rapier/syndie-rapiera.rsi/rapier.png
Labels: Resprite, Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes, Sprite

#310 Felix event sounds
  Resources/Audio/Imperial/ElysiumPrime/AvariyaSierra.ogg
  Resources/Audio/Imperial/ElysiumPrime/EPThanks.ogg
  Resources/Audio/Imperial/ElysiumPrime/Flight1.ogg
  Resources/Audio/Imperial/ElysiumPrime/Flight2.ogg
  Resources/Audio/Imperial/ElysiumPrime/Flight3.ogg
  Resources/Audio/Imperial/ElysiumPrime/Jingle.ogg
  Resources/Audio/Imperial/ElysiumPrime/LoyalAnons1.ogg
  Resources/Audio/Imperial/ElysiumPrime/LoyalAnons2.ogg
  Resources/Audio/Imperial/ElysiumPrime/MainTradeAnons.ogg
  Resources/Audio/Imperial/ElysiumPrime/PoliceControl.ogg
  Resources/Audio/Imperial/ElysiumPrime/RegAnons.ogg
  Resources/Audio/Imperial/ElysiumPrime/attributions.yml
Labels: size/Small, Audio

#308 Починка эмоций и замена кнопки радиального меню гипоспрея боргов. H/M
  Content.Client/Imperial/ImperialBorgs/BorgHypoUIController.cs
  Content.Server/Imperial/ImperialBorgs/BorgHypoSystem.cs
Labels: Change Wiz Code, size/Small, C#, Change WIz Prototypes

#313 Ивентовый контент
  Resources/Locale/ru-RU/Imperial/Elysium_Prime/entities.ftl
  Resources/Locale/ru-RU/Imperial/sacerdos/EnergySwordDouble_Sacerdos.ftl
  Resources/Locale/ru-RU/Imperial/sacerdos/Telecrystal_sacerdos.ftl
  Resources/Prototypes/Imperial/Other/ElysiumPrime/Windoor.yml
  Resources/Prototypes/Imperial/Other/ElysiumPrime/entities.yml
  Resources/Prototypes/Imperial/sacerdos/Cruenta/UplinkCatalog_Cruenta.yml
  Resources/Prototypes/Imperial/sacerdos/Cruenta/WeaponTurret_Cruenta.yml
  Resources/Prototypes/Imperial/sacerdos/EnergySwordDouble_Sacerdos.yml
  Resources/Prototypes/Imperial/sacerdos/Telecrystal_sacerdos.yml
  Resources/Prototypes/Imperial/sacerdos/UplinkCatalog_sacerdos.yml
  Resources/Prototypes/Imperial/sacerdos/WeaponTurret_Sacerdos.yml
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Armored.rsi/base.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Armored.rsi/closed.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Armored.rsi/icon.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Armored.rsi/locked.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Armored.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Armored.rsi/open.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Armored.rsi/sparking.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Armored.rsi/unlocked.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Armored.rsi/welded.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Secure.rsi/base.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Secure.rsi/closed.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Secure.rsi/icon.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Secure.rsi/locked.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Secure.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Secure.rsi/open.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Secure.rsi/sparking.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Secure.rsi/unlocked.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/Secure.rsi/welded.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/WheelsArmored.rsi/base.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/WheelsArmored.rsi/closed.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/WheelsArmored.rsi/icon.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/WheelsArmored.rsi/locked.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/WheelsArmored.rsi/meta.json
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/WheelsArmored.rsi/open.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/WheelsArmored.rsi/sparking.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/WheelsArmored.rsi/unlocked.png
  Resources/Textures/Imperial/Other/ElysiumPrime/CrateSecure/WheelsArmored.rsi/welded.png
Labels: Resprite, Prototypes, Change WIz Prototypes, Sprite

#312 Фикс энергетических когтей Геноцидика
  Resources/Prototypes/Imperial/SpecialUnits/DeathSquad/Pets/Kitty/DeathSquadKitty.yml
  Resources/Textures/Imperial/SpecialUnits/DeathSquad/Pets/Kitty/deathsquad_kitty_claws.rsi/meta.json
  Resources/Textures/Imperial/SpecialUnits/DeathSquad/Pets/Kitty/deathsquad_kitty_claws_inhands.rsi/inhand-left-blade.png
  Resources/Textures/Imperial/SpecialUnits/DeathSquad/Pets/Kitty/deathsquad_kitty_claws_inhands.rsi/inhand-left.png
  Resources/Textures/Imperial/SpecialUnits/DeathSquad/Pets/Kitty/deathsquad_kitty_claws_inhands.rsi/inhand-right-blade.png
  Resources/Textures/Imperial/SpecialUnits/DeathSquad/Pets/Kitty/deathsquad_kitty_claws_inhands.rsi/inhand-right.png
  Resources/Textures/Imperial/SpecialUnits/DeathSquad/Pets/Kitty/deathsquad_kitty_claws_inhands.rsi/meta.json
Labels: Resprite, Prototypes, Change WIz Prototypes, Sprite

#297 ADD: Decal gun
  Content.Client/Imperial/DecalGun/DecalGunBoundUserInterface.cs
  Content.Client/Imperial/DecalGun/DecalGunSystem.cs
  Content.Client/Imperial/DecalGun/DecalGunWindow.xaml
  Content.Client/Imperial/DecalGun/DecalGunWindow.xaml.cs
  Content.Server/Imperial/DecalGun/DecalGunSystem.cs
  Content.Shared/Imperial/DecalGun/DecalGunComponent.cs
  Content.Shared/Imperial/DecalGun/DecalGunEvents.cs
  Content.Shared/Imperial/DecalGun/DecalGunMagComponent.cs
  Content.Shared/Imperial/DecalGun/SharedDecalGunSystem.cs
  Resources/Locale/ru-RU/Imperial/DecalGun/decal_gun.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Imperial/3DGun/3dgun.yml
  Resources/Textures/Imperial/3DGun.rsi/base.png
  Resources/Textures/Imperial/3DGun.rsi/icon-mag.png
  Resources/Textures/Imperial/3DGun.rsi/icon.png
  Resources/Textures/Imperial/3DGun.rsi/inhand-left.png
  Resources/Textures/Imperial/3DGun.rsi/inhand-right.png
  Resources/Textures/Imperial/3DGun.rsi/mag-0.png
  Resources/Textures/Imperial/3DGun.rsi/meta.json
Labels: Resprite, Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes, Sprite, UI

#328 Fix Ивентовый контент
  Resources/Locale/ru-RU/Imperial/Crook/xeno.ftl
Labels: size/Small

#324 Encryption-Key-Xenoborg
  Resources/Locale/ru-RU/imperial_radio.ftl
  Resources/Prototypes/Imperial/RadioChannels/imperial_radio_channels.yml
Labels: Prototypes, Change WIz Prototypes

#332 Ивентовый контент
  Resources/Locale/ru-RU/Imperial/Crook/misc.ftl
  Resources/Locale/ru-RU/Imperial/Crook/samurai.ftl
  Resources/Prototypes/Imperial/Crook/misc.yml
  Resources/Prototypes/Imperial/Crook/samurai.yml
  Resources/Textures/Imperial/Crook/Samurai/helmet.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Crook/Samurai/suit.rsi/equipped-OUTERCLOTHING.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#334 Ивентовый Контент. H/M
  Resources/Locale/ru-RU/Imperial/HamMaggotson/clothing.ftl
  Resources/Locale/ru-RU/Imperial/HamMaggotson/ghostrole.ftl
  Resources/Locale/ru-RU/Imperial/HamMaggotson/markers.ftl
  Resources/Locale/ru-RU/Imperial/HamMaggotson/mobs.ftl
  Resources/Locale/ru-RU/Imperial/HamMaggotson/radio.ftl
  Resources/Locale/ru-RU/Imperial/HamMaggotson/species.ftl
  Resources/Locale/ru-RU/Imperial/HamMaggotson/structure.ftl
  Resources/Prototypes/Imperial/HamMaggotson/Entities/clothing.yml
  Resources/Prototypes/Imperial/HamMaggotson/Entities/spawner.yml
  Resources/Prototypes/Imperial/HamMaggotson/Entities/structure.yml
  Resources/Prototypes/Imperial/HamMaggotson/Misc/loadouts.yml
  Resources/Prototypes/Imperial/HamMaggotson/Misc/modifier_sets.yml
  Resources/Prototypes/Imperial/HamMaggotson/Misc/radiochannel.yml
  Resources/Prototypes/Imperial/HamMaggotson/Misc/species.yml
  Resources/Prototypes/Imperial/HamMaggotson/Mobs/base.yml
  Resources/Prototypes/Imperial/HamMaggotson/Mobs/ghostroles.yml
  Resources/Prototypes/Imperial/HamMaggotson/Mobs/species.yml
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/full.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/head_f.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/head_m.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/l_arm.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/l_foot.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/l_hand.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/l_leg.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/meta.json
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/r_arm.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/r_foot.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/r_hand.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/r_leg.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/torso_f.png
  Resources/Textures/Imperial/HamMaggotson/parts.rsi/torso_m.png
  Resources/Textures/Imperial/HamMaggotson/tendril.rsi/icon.png
  Resources/Textures/Imperial/HamMaggotson/tendril.rsi/meta.json
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#350 Event content
  Resources/Locale/ru-RU/console-egida.ftl
  Resources/Prototypes/Imperial/Snaipron/Snaipron-Content.yml
  Resources/Textures/Imperial/Snaipron-Content/communication-egida.rsi/computer.png
  Resources/Textures/Imperial/Snaipron-Content/communication-egida.rsi/generic_keyboard.png
  Resources/Textures/Imperial/Snaipron-Content/communication-egida.rsi/meta.json
  Resources/Textures/Imperial/Snaipron-Content/communication-egida.rsi/scp_comm.png
  Resources/Textures/Imperial/Snaipron-Content/communication-egida.rsi/scp_comm_key.png
  Resources/Textures/Imperial/Snaipron-Content/pushie-zevs.rsi/icon.png
  Resources/Textures/Imperial/Snaipron-Content/pushie-zevs.rsi/inhand_left.png
  Resources/Textures/Imperial/Snaipron-Content/pushie-zevs.rsi/inhand_right.png
  Resources/Textures/Imperial/Snaipron-Content/pushie-zevs.rsi/meta.json
Labels: Resprite, Prototypes, Change WIz Prototypes, Sprite
