Repository imperial-space/SS14-public, pull requests merged in 2025-05, with the labels that each got.

#235 CBURN Jumpsuit Fix
  Resources/Textures/Imperial/Other/ErtCall/CBURN/jumpsuit.rsi/equipped-INNERCLOTHING.png
Labels: Resprite, size/Small, Sprite

#231 Починка и изменения
  Resources/Locale/ru-RU/Imperial/sacerdos/Equipment_Sacerdos.ftl
  Resources/Prototypes/Imperial/DeadSector/Terminal_weapons/Terminal_weapons.yml
  Resources/Prototypes/Imperial/SpecialUnits/RCU/Weapones/MilkorMGL.yml
  Resources/Prototypes/Imperial/SpecialUnits/RCU/Weapones/ODEN.yml
  Resources/Prototypes/Imperial/SpecialUnits/RCU/Weapones/UTS-15.yml
  Resources/Prototypes/Imperial/SpecialUnits/RCU/Weapones/magaines.yml
  Resources/Prototypes/Imperial/sacerdos/Cruenta/Equipment_Cruenta.yml
  Resources/Prototypes/Imperial/sacerdos/Equipment_Sacerdos.yml
  Resources/Prototypes/Imperial/sacerdos/UplinkCatalog_sacerdos.yml
Labels: size/Small, Prototypes, Change WIz Prototypes

#230 Игрушка НШЦК +небольшая переработка локали.
  Resources/Locale/ru-RU/Imperial/SpecialUnits/CSCC/staff.ftl
  Resources/Locale/ru-RU/Imperial/SpecialUnits/DeathSquad/staff.ftl
  Resources/Locale/ru-RU/Imperial/SpecialUnits/SOO/staff.ftl
  Resources/Prototypes/Imperial/Other/TFG/Toughguys/funcrate.yml
  Resources/Prototypes/Imperial/Other/TFG/Toughguys/plushie_spawner.yml
  Resources/Prototypes/Imperial/SpecialUnits/CSCC/ChiefIgnacPlushie.yml
  Resources/Textures/Imperial/SpecialUnits/CSCC/ChiefIgnacPlushie.rsi/inhand-left.png
  Resources/Textures/Imperial/SpecialUnits/CSCC/ChiefIgnacPlushie.rsi/inhand-right.png
  Resources/Textures/Imperial/SpecialUnits/CSCC/ChiefIgnacPlushie.rsi/meta.json
  Resources/Textures/Imperial/SpecialUnits/CSCC/ChiefIgnacPlushie.rsi/plushie_CSCC.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#229 Uplink items for the clown and passenger
  Content.Server/Imperial/Damage/DamageModifierStorageSystem.cs
  Content.Shared/Imperial/Damage/DamageModifierStorageComponent.cs
  Resources/Locale/ru-RU/Imperial/UplinkCatalog/uplink-catalog.ftl
  Resources/Prototypes/Imperial/Catalog/clow_uplink_catalog.yml
  Resources/Prototypes/Imperial/Catalog/passenger_uplink_catalog.yml
  Resources/Prototypes/Imperial/Objects/Specific/SyndiUplinkObjects/AncientJumpsuit.yml
  Resources/Prototypes/Imperial/Objects/Specific/SyndiUplinkObjects/AncientToolbox.yml
  Resources/Prototypes/Imperial/Objects/Specific/SyndiUplinkObjects/BananaCreamPieCannon.yml
  Resources/Prototypes/Imperial/Objects/Specific/SyndiUplinkObjects/ClownBomb.yml
  Resources/Prototypes/Imperial/Objects/Specific/SyndiUplinkObjects/ClownParten.yml
  Resources/Textures/Imperial/Entities/Mobs/NPCs/ClowParten.rsi/clown.png
  Resources/Textures/Imperial/Entities/Mobs/NPCs/ClowParten.rsi/clown_died.png
  Resources/Textures/Imperial/Entities/Mobs/NPCs/ClowParten.rsi/meta.json
  Resources/Textures/Imperial/Objects/Fun/Aftor/Aftor.txt
  Resources/Textures/Imperial/Objects/Fun/Aftor/aftor.png
  Resources/Textures/Imperial/Objects/Fun/AncientToolbox.rsi/icon-open.png
  Resources/Textures/Imperial/Objects/Fun/AncientToolbox.rsi/icon.png
  Resources/Textures/Imperial/Objects/Fun/AncientToolbox.rsi/inhand-left.png
  Resources/Textures/Imperial/Objects/Fun/AncientToolbox.rsi/inhand-right.png
  Resources/Textures/Imperial/Objects/Fun/AncientToolbox.rsi/meta.json
  Resources/Textures/Imperial/Objects/Fun/ClownBomb.rsi/equipped-BELT.png
  Resources/Textures/Imperial/Objects/Fun/ClownBomb.rsi/icon.png
  Resources/Textures/Imperial/Objects/Fun/ClownBomb.rsi/inhand-left.png
  Resources/Textures/Imperial/Objects/Fun/ClownBomb.rsi/inhand-right.png
  Resources/Textures/Imperial/Objects/Fun/ClownBomb.rsi/meta.json
  Resources/Textures/Imperial/Objects/Fun/ClownBomb.rsi/primed.png
Labels: Resprite, Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes, Sprite

#207 Terror spider fredik21 update
  Resources/Locale/ru-RU/Imperial/Terrorspider/spider.ftl
  Resources/Prototypes/Imperial/Terrorspider/TerrorSpider.yml
  Resources/Textures/Imperial/TerrorSpider/Spider/actions_animal.rsi/lay_eggs.png
  Resources/Textures/Imperial/TerrorSpider/Spider/actions_animal.rsi/lay_web.png
  Resources/Textures/Imperial/TerrorSpider/Spider/actions_animal.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/bluexeno_toxin.rsi/bluetox.png
  Resources/Textures/Imperial/TerrorSpider/Spider/bluexeno_toxin.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/destroyer.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/destroyer.rsi/terror_brown.png
  Resources/Textures/Imperial/TerrorSpider/Spider/destroyer.rsi/terror_brown_dead.png
  Resources/Textures/Imperial/TerrorSpider/Spider/dron.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/dron.rsi/terror_widow.png
  Resources/Textures/Imperial/TerrorSpider/Spider/dron.rsi/terror_widow_dead.png
  Resources/Textures/Imperial/TerrorSpider/Spider/guardian.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/guardian.rsi/terror_purple.png
  Resources/Textures/Imperial/TerrorSpider/Spider/guardian.rsi/terror_purple_dead.png
  Resources/Textures/Imperial/TerrorSpider/Spider/healer.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/healer.rsi/terror_green.png
  Resources/Textures/Imperial/TerrorSpider/Spider/healer.rsi/terror_green_dead.png
  Resources/Textures/Imperial/TerrorSpider/Spider/mother.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/mother.rsi/terror_mother.png
  Resources/Textures/Imperial/TerrorSpider/Spider/mother.rsi/terror_mother_dead.png
  Resources/Textures/Imperial/TerrorSpider/Spider/prince.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/prince.rsi/terror_allblack.png
  Resources/Textures/Imperial/TerrorSpider/Spider/prince.rsi/terror_allblack_dead.png
  Resources/Textures/Imperial/TerrorSpider/Spider/princess.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/princess.rsi/terror_princess1.png
  Resources/Textures/Imperial/TerrorSpider/Spider/princess.rsi/terror_princess1_dead.png
  Resources/Textures/Imperial/TerrorSpider/Spider/queen.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/queen.rsi/terror_queen.png
  Resources/Textures/Imperial/TerrorSpider/Spider/queen.rsi/terror_queen_dead.png
  Resources/Textures/Imperial/TerrorSpider/Spider/reaper.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/reaper.rsi/terror_white.png
  Resources/Textures/Imperial/TerrorSpider/Spider/reaper.rsi/terror_white_dead.png
  Resources/Textures/Imperial/TerrorSpider/Spider/rusar.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/rusar.rsi/terror_red.png
  Resources/Textures/Imperial/TerrorSpider/Spider/rusar.rsi/terror_red_dead.png
  Resources/Textures/Imperial/TerrorSpider/Spider/sogladatel.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/sogladatel.rsi/terror_gray_cloaked.png
  Resources/Textures/Imperial/TerrorSpider/Spider/sogladatel.rsi/terror_gray_dead.png
  Resources/Textures/Imperial/TerrorSpider/Spider/widow.rsi/meta.json
  Resources/Textures/Imperial/TerrorSpider/Spider/widow.rsi/terror_widow.png
  Resources/Textures/Imperial/TerrorSpider/Spider/widow.rsi/terror_widow_dead.png
Labels: Resprite, size/Medium, Prototypes, Change WIz Prototypes, Sprite

#233 A revolution by consent
  Content.Client/Imperial/Revolution/UI/ConsentRequestedEui.cs
  Content.Client/Imperial/Revolution/UI/ConsentRequestedMenu.xaml
  Content.Client/Imperial/Revolution/UI/ConsentRequestedMenu.xaml.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/Imperial/Revolution/Components/ConsentRevolutionaryComponent.cs
  Content.Server/Imperial/Revolution/Components/ConsentRevolutionaryCooldownComponent.cs
  Content.Server/Imperial/Revolution/Components/ConsentRevolutionaryDenyComponent.cs
  Content.Server/Imperial/Revolution/ConsentRevolutionSystem.cs
  Content.Server/Imperial/Revolution/UI/ConsentRequestedEui.cs
  Content.Shared/Imperial/Revolution/ConsentRequestedEuiMessage.cs
  Content.Shared/Imperial/Revolution/ConsentRequestedState.cs
  Content.Shared/Imperial/Revolution/RemoveConversionDeniedAlertEvent.cs
  Content.Shared/Revolutionary/Components/HeadRevolutionaryComponent.cs
  Resources/Locale/ru-RU/Imperial/Revolution/Revolution.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Imperial/Revolution/AlertRev.yml
  Resources/Prototypes/Imperial/Revolution/StatusEffectsRev.yml
  Resources/Textures/Imperial/Interface/Revolution/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/Imperial/Interface/Revolution/VerbIcons/revolution_convert.png
  Resources/Textures/Imperial/Interface/Revolution/VerbIcons/revolution_convert.png.yml
  Resources/Textures/Imperial/Interface/Revolution/consent_rev_cooldown.rsi/consent_rev_cooldown.png
  Resources/Textures/Imperial/Interface/Revolution/consent_rev_cooldown.rsi/meta.json
  Resources/Textures/Imperial/Interface/Revolution/consent_rev_denied.rsi/consent_rev_denied.png
  Resources/Textures/Imperial/Interface/Revolution/consent_rev_denied.rsi/meta.json
Labels: Resprite, Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes, Sprite, UI, Change Wiz Audio, Audio

#239 Update artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
Labels: size/Small

#236 plasma Cutter + Advanced Version
  Content.Server/Imperial/Lavaland/MaterialEnergy/MaterialEnergyComponent.cs
  Content.Server/Imperial/Lavaland/MaterialEnergy/MaterialEnergySystem.cs
  Content.Shared/Weapons/Ranged/Components/BatteryWeaponFireModesComponent.cs
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Resources/Audio/Imperial/Lavaland/PlasmaCutter/gun_shoot1.ogg
  Resources/Audio/Imperial/Lavaland/PlasmaCutter/gun_shoot2.ogg
  Resources/Audio/Imperial/Lavaland/PlasmaCutter/replenishment-of-the-firearm.ogg
  Resources/Audio/Imperial/click-switch-gun-mode.ogg
  Resources/Locale/ru-RU/Imperial/Lavaland/plasmacutter.ftl
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Imperial/Objects/Weapons/Guns/CharginMaterials/AdvancedVersion-PlasmaCutter.yml
  Resources/Prototypes/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter.yml
  Resources/Prototypes/Imperial/Objects/Weapons/Guns/Projectiles/plasmaCutters-projectiles.yml
  Resources/Prototypes/Imperial/Recipes/Devices/PlasmaCutter-devices.yml
  Resources/Prototypes/Imperial/Research/plasmaCutters-arsenal.yml
  Resources/Prototypes/Imperial/tags.yml
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/base.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/equipped-BELT.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/icon.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/inhand-left-0.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/inhand-left-1.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/inhand-left-2.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/inhand-left-3.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/inhand-left.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/inhand-right-0.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/inhand-right-1.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/inhand-right-2.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/inhand-right-3.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/inhand-right.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/mag-unshaded-0.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/mag-unshaded-1.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/mag-unshaded-2.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/mag-unshaded-3.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/mag-unshaded-4.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/advanced-base.rsi/meta.json
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/base.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/equipped-BELT.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/icon.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/inhand-left-0.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/inhand-left-1.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/inhand-left-2.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/inhand-left-3.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/inhand-left.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/inhand-right-0.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/inhand-right-1.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/inhand-right-2.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/inhand-right-3.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/inhand-right.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/mag-unshaded-0.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/mag-unshaded-1.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/mag-unshaded-2.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/mag-unshaded-3.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/mag-unshaded-4.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/base.rsi/meta.json
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/bullet.rsi/bullet.png
  Resources/Textures/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter/bullet.rsi/meta.json
Labels: Resprite, Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes, Sprite, Change Wiz Audio, Audio

#240 Переводы апстрима
  Resources/Locale/ru-RU/Imperial/entities/machines/specific.ftl
  Resources/Locale/ru-RU/Imperial/entities/objects/clothing.ftl
  Resources/Locale/ru-RU/Imperial/entities/objects/specific.ftl
  Resources/Locale/ru-RU/delivery/delivery-spam.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/power/battery.ftl
  Resources/Locale/ru-RU/prototypes/entities/fun/toys.ftl
  Resources/Locale/ru-RU/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/misc/pen.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/specific/mail/bag.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/specific/research/desynchronizer.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/temperature_cannon.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/melee/knuckles.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/decoration/crystals.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/doors/turnstile.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/prototypes/magic/teleport_scroll.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-component.ftl
  Resources/Locale/ru-RU/xenoarchaeology/node-scanner.ftl
Labels: size/Small

#242 bugfixes
  Resources/Locale/ru-RU/Imperial/Markers/Spawners/ghost-roles.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/salvage.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/salvage.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/salvage.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/salvage.rsi/open_unlit.png
Labels: Resprite, size/Small, Change WIz Prototypes

#246 Ивентовый контент
  Resources/Textures/Imperial/DeadSector/head/DawnVisor.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/DeadSector/head/DawnVisor.rsi/icon.png
  Resources/Textures/Imperial/DeadSector/head/GorkaVisor.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/DeadSector/head/GorkaVisor.rsi/icon.png
  Resources/Textures/Imperial/DeadSector/outer_clothing/ArmorUnloading6B5.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/DeadSector/outer_clothing/ArmorUnloading6B5.rsi/icon.png
  Resources/Textures/Imperial/DeadSector/outer_clothing/ArmoredUnloading6B43Military.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/DeadSector/outer_clothing/ArmoredUnloading6B43Military.rsi/icon.png
  Resources/Textures/Imperial/Felix/Secret/Clothing/helmet/negotiator.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Felix/Secret/Clothing/helmet/ranger.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Felix/Secret/Clothing/helmet/stormtrooper.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Felix/Secret/Clothing/outerclothing/negotiator.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Felix/Secret/Clothing/outerclothing/stormtrooper.rsi/equipped-OUTERCLOTHING.png
Labels: Resprite, size/Small, Sprite

#244 Ивентовый Контент | Страшные монстрики
  Resources/Locale/ru-RU/Imperial/ILIARD/locale.ftl
  Resources/Prototypes/Imperial/ILIARD/entities.yml
  Resources/Prototypes/Imperial/ILIARD/items.yml
  Resources/Textures/Imperial/ILIARD/ghost.rsi/ghost.png
  Resources/Textures/Imperial/ILIARD/ghost.rsi/meta.json
  Resources/Textures/Imperial/ILIARD/head.rsi/head.png
  Resources/Textures/Imperial/ILIARD/head.rsi/head_dead.png
  Resources/Textures/Imperial/ILIARD/head.rsi/meta.json
Labels: Resprite, Prototypes, Change WIz Prototypes, Sprite

#249 fixs plasma cutters
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Imperial/Objects/Weapons/Guns/CharginMaterials/AdvancedVersion-PlasmaCutter.yml
  Resources/Prototypes/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter.yml
Labels: size/Small, Prototypes, Change WIz Prototypes

#248 Плюшевый персонаж
  Resources/Locale/ru-RU/Imperial/Crook/crook.ftl
  Resources/Prototypes/Imperial/Crook/plushies.yml
  Resources/Prototypes/Imperial/Other/TFG/Toughguys/plushie_spawner.yml
  Resources/Textures/Imperial/Crook/Plushie/hlimmywugo.rsi/icon.png
  Resources/Textures/Imperial/Crook/Plushie/savirmurphy.rsi/icon.png
  Resources/Textures/Imperial/Crook/Plushie/savirmurphy.rsi/inhand-left.png
  Resources/Textures/Imperial/Crook/Plushie/savirmurphy.rsi/inhand-right.png
  Resources/Textures/Imperial/Crook/Plushie/savirmurphy.rsi/meta.json
Labels: Resprite, Prototypes, Change WIz Prototypes, Sprite

#253 Нерф карго, повышение цен на огнестрел
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
Labels: size/Small, Change WIz Prototypes

#252 Переводы
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/delivery/delivery-component.ftl
  Resources/Locale/ru-RU/dragon/dragon.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/botany-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/materials-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/salvage-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/security-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/specific/xenoarchaeology/artifact_equipment.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/doors/turnstile.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/prototypes/objectives/paradoxClone.ftl
  Resources/Locale/ru-RU/prototypes/objectives/thief.ftl
Labels: size/Small

#251 Карго прайсмодифер для автолатов, протолатов
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/Imperial/Cargo/Components/PriceModiferComponent.cs
  Content.Server/Imperial/Cargo/Systems/PricingSystem.Modifier.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes

#254 Ивентовый контент
  Resources/Prototypes/Imperial/Crook/plushies.yml
  Resources/Prototypes/Imperial/KAKTYC/posters.yml
  Resources/Textures/Imperial/KAKTYC/posters/big.rsi/bigbro.png
  Resources/Textures/Imperial/KAKTYC/posters/big.rsi/meta.json
  Resources/Textures/Imperial/KAKTYC/posters/default.rsi/meta.json
  Resources/Textures/Imperial/KAKTYC/posters/default.rsi/minibro.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#256 Первый пакет изменений Акилы
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
  Resources/Locale/ru-RU/Imperial/Crook/crook.ftl
  Resources/Locale/ru-RU/Imperial/DocumentPrinter/doc-text-printer.ftl
  Resources/Locale/ru-RU/Imperial/entityes.ftl
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Imperial/Crook/plushies.yml
  Resources/Prototypes/Imperial/DocumentPrinter/documents.yml
  Resources/Prototypes/Imperial/DocumentPrinter/printer-categorys.yml
  Resources/Prototypes/Imperial/DocumentPrinter/printer-recipes.yml
  Resources/Prototypes/Imperial/Loadouts/Common/Jobs/SAD/IAA.yml
  Resources/Prototypes/Imperial/Objects/Weapons/Guns/CharginMaterials/AdvancedVersion-PlasmaCutter.yml
  Resources/Prototypes/Imperial/Objects/Weapons/Guns/CharginMaterials/PlasmaCutter.yml
  Resources/Prototypes/Imperial/Other/ImperialMedkits/ImperialMedkits.yml
  Resources/Prototypes/Imperial/Other/TFG/Toughguys/plushie_spawner.yml
  Resources/Prototypes/Imperial/Roles/Jobs/SAD/IAA.yml
  Resources/Prototypes/Objectives/goals.yml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
  Resources/Textures/Imperial/Crook/Plushie/hlimmywugo.rsi/icon.png
  Resources/Textures/Imperial/Crook/Plushie/savirmurphy.rsi/icon.png
  Resources/Textures/Imperial/Crook/Plushie/savirmurphy.rsi/inhand-left.png
  Resources/Textures/Imperial/Crook/Plushie/savirmurphy.rsi/inhand-right.png
  Resources/Textures/Imperial/Crook/Plushie/savirmurphy.rsi/meta.json
Labels: Resprite, Change Wiz Code, Prototypes, C#, Change WIz Prototypes, Sprite

#260 Новые плакаты
  Resources/Locale/ru-RU/Imperial/Community/community_posters.ftl
  Resources/Prototypes/Imperial/Structures/Posters/community_posters.yml
  Resources/Prototypes/Imperial/Structures/Posters/community_posters_spawners.yml
  Resources/Textures/Imperial/Structures/Posters/com_posters.rsi/meta.json
  Resources/Textures/Imperial/Structures/Posters/com_posters.rsi/onionsenpai_1.png
  Resources/Textures/Imperial/Structures/Posters/com_posters.rsi/onionsenpai_2.png
  Resources/Textures/Imperial/Structures/Posters/com_posters.rsi/onionsenpai_3.png
  Resources/Textures/Imperial/Structures/Posters/com_posters.rsi/onionsenpai_4.png
Labels: Resprite, Prototypes, Change WIz Prototypes, Sprite

#259 Ролевые Трейты
  Content.Server/Imperial/PushMarkupOnInit/PushMarkupOnInitComp.cs
  Content.Server/Imperial/PushMarkupOnInit/PushMarkupOnInitSystem.cs
  Resources/Locale/ru-RU/Imperial/traits.ftl
  Resources/Prototypes/Imperial/RolePlayTraits/traits.yml
Labels: Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes
