Repository imperial-space/SS14-public, pull requests merged in 2025-09, with the labels that each got.

#402 Pirates QoL (Маленькие изменения, пока я делаю новый контент для пиратов). H/M
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/Imperial/PiratesNewHorizon/GPS/Systems/GPSTrackerRemoverSystem.cs
  Resources/Locale/en-US/Imperial/PiratesNewHorizon/catalog.ftl
  Resources/Locale/en-US/Imperial/PiratesNewHorizon/gpstrackerremover.ftl
  Resources/Locale/ru-RU/Imperial/PiratesNewHorizon/catalog.ftl
  Resources/Locale/ru-RU/Imperial/PiratesNewHorizon/gpstrackerremover.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Devices/hand_teleporter.yml
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Imperial/Other/TFG/Weapon/M2108.yml
  Resources/Prototypes/Imperial/PiratesNewHorizon/Entities/clothingboxes.yml
  Resources/Prototypes/Imperial/PiratesNewHorizon/Entities/powersink.yml
  Resources/Prototypes/Imperial/PiratesNewHorizon/Store/catalog.yml
  Resources/Prototypes/Imperial/Structures/Thrusters/thrusters.yml
Labels: Change Wiz Code, Prototypes, C#, Change WIz Prototypes

#398 Мелкие изменения оружия
  Resources/Locale/ru-RU/Imperial/BundleAKMS/duffelbag.ftl
  Resources/Locale/ru-RU/Imperial/BundleAKMS/uplink-catalog.ftl
  Resources/Locale/ru-RU/Imperial/CS/Terminal/terminal.ftl
  Resources/Locale/ru-RU/Imperial/Gunship/cannons.ftl
  Resources/Locale/ru-RU/Imperial/SpecialUnits/DeathSquad/staff.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Prototypes/Imperial/SpecialUnits/DeathSquad/DeathWTH/ErtCallUplinkCatalog.yml
  Resources/Prototypes/Imperial/SpecialUnits/DeathSquad/Weapones/Deliverer.yml
  Resources/Prototypes/Imperial/SpecialUnits/DeathSquad/Weapones/MinigunR.yml
  Resources/Prototypes/Imperial/SpecialUnits/DeathSquad/Weapones/magazines.yml
  Resources/Prototypes/Imperial/SpecialUnits/RCU/Weapones/ODEN.yml
  Resources/Prototypes/Imperial/SpecialUnits/RCU/Weapones/UTS-15.yml
  Resources/Prototypes/Imperial/SpecialUnits/RCU/Weapones/Unica-9.yml
Labels: size/Small, Prototypes, Change WIz Prototypes

#416 Ивент контент
  Resources/Locale/ru-RU/Imperial/Seriozha/SCP/locale.ftl
  Resources/Prototypes/Imperial/Seriozha/SCP/clothing.yml
Labels: size/Small, Prototypes, Change WIz Prototypes

#419 Ивентовый контент
  Resources/Audio/Imperial/Crook/backrooms/bacteria/bacteriascream.ogg
  Resources/Audio/Imperial/Crook/smiler/smilerscream.ogg
  Resources/Audio/Imperial/Crook/smiler/smilerscream2.ogg
  Resources/Audio/Imperial/Witchers/FootstepWitchersVendigo.ogg
  Resources/Locale/ru-RU/Imperial/Crook/misc.ftl
  Resources/Prototypes/Imperial/Crook/misc.yml
  Resources/Textures/Imperial/Crook/Misc/backrooms/portal.rsi/icon.png
  Resources/Textures/Imperial/Crook/Misc/backrooms/portal.rsi/meta.json
  Resources/Textures/Imperial/Crook/Misc/smiler.rsi/alive.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite, Audio

#428 Убраны повторяющиеся предметы в шкафах гп и кепа
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: size/Small, Change WIz Prototypes

#427 Изменение ивента спавна слаймов
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/GameRules/events.yml
Labels: size/Small, Change WIz Prototypes

#423 Ивентовый контент
  Resources/Audio/Imperial/Crook/backrooms/Cry_Of_The_Unheard.ogg
  Resources/Audio/Imperial/Crook/backrooms/Icarus.ogg
  Resources/Audio/Imperial/Crook/backrooms/Judahs_Lullaby.ogg
  Resources/Audio/Imperial/Crook/backrooms/Koschei.ogg
  Resources/Audio/Imperial/Crook/backrooms/Starvation.ogg
  Resources/Audio/Imperial/Crook/backrooms/attributions.yml
  Resources/Audio/Imperial/Crook/backrooms/glitchambient.ogg
  Resources/Audio/Imperial/Crook/backrooms/glitchspawn.ogg
  Resources/Audio/Imperial/Crook/backrooms/smiler/smilerscream.ogg
  Resources/Locale/ru-RU/Imperial/Crook/misc.ftl
  Resources/Prototypes/Imperial/Crook/misc.yml
  Resources/Textures/Imperial/Crook/Misc/backrooms/exitsign.rsi/green.png
  Resources/Textures/Imperial/Crook/Misc/backrooms/exitsign.rsi/meta.json
  Resources/Textures/Imperial/Crook/Misc/backrooms/exitsign.rsi/unshaded.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite, Audio

#422 Фикс имени работы сИИ
  Resources/Locale/ru-RU/job/job-names.ftl
Labels: size/Small

#426 Новый админский режим
  Content.Server/Imperial/XxRaay/SyndieBattle/SyndieBattleRedemptionComponent.cs
  Content.Server/Imperial/XxRaay/SyndieBattle/SyndieBattleRedemptionSystem.cs
  Content.Server/Imperial/XxRaay/SyndieBattle/SyndieBattleRuleComponent.cs
  Content.Server/Imperial/XxRaay/SyndieBattle/SyndieBattleRuleSystem.cs
  Content.Server/Imperial/XxRaay/SyndieBattle/SyndieBattleScoreComponent.cs
  Content.Server/Imperial/XxRaay/SyndieBattle/license.txt
  Content.Shared/Imperial/XxRaay/SyndieBattle/SharedSyndieBattleScoreComponent.cs
  Resources/Locale/ru-RU/Imperial/XxRaay/preset-syndiebattle.ftl
  Resources/Prototypes/Imperial/XxRaay/syndiebattle.yml
  Resources/Prototypes/Imperial/XxRaay/syndiebattle_objectives.yml
  Resources/Prototypes/Imperial/XxRaay/syndiebattle_redemption.yml
  Resources/Textures/Imperial/Objects/Misc/traitordm.rsi/meta.json
  Resources/Textures/Imperial/Objects/Misc/traitordm.rsi/redemption-unshaded.png
  Resources/Textures/Imperial/Objects/Misc/traitordm.rsi/redemption.png
Labels: Resprite, Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes, Sprite

#434 Revert "Nrp Panel"
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/Imperial/Medieval/Administration/UI/Nrp/ConfirmDialog.xaml
  Content.Client/Imperial/Medieval/Administration/UI/Nrp/ConfirmDialog.xaml.cs
  Content.Client/Imperial/Medieval/Administration/UI/Nrp/NrpMessageControl.xaml
  Content.Client/Imperial/Medieval/Administration/UI/Nrp/NrpMessageControl.xaml.cs
  Content.Client/Imperial/Medieval/Administration/UI/Nrp/NrpPanel.xaml
  Content.Client/Imperial/Medieval/Administration/UI/Nrp/NrpPanel.xaml.cs
  Content.Client/Imperial/Medieval/Administration/UI/Nrp/NrpPanelEui.cs
  Content.Client/Imperial/Medieval/Administration/UI/Nrp/NrpStatsEntry.xaml
  Content.Client/Imperial/Medieval/Administration/UI/Nrp/NrpStatsEntry.xaml.cs
  Content.Client/Imperial/Medieval/Administration/UI/Nrp/NrpStatsWindow.xaml
  Content.Client/Imperial/Medieval/Administration/UI/Nrp/NrpStatsWindow.xaml.cs
  Content.Server.Database/Migrations/Postgres/20250831101216_NrpViolation.Designer.cs
  Content.Server.Database/Migrations/Postgres/20250831101216_NrpViolation.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20250831101135_NrpViolation.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250831101135_NrpViolation.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Imperial/Medieval/Administration/Commands/NrpPardonCommand.cs
  Content.Server/Imperial/Medieval/Administration/Commands/NrpWarnCommand.cs
  Content.Server/Imperial/Medieval/Administration/Commands/OpenNrpPanelCommand.cs
  Content.Server/Imperial/Medieval/Administration/Nrp/NrpMessagesSystem.cs
  Content.Server/Imperial/Medieval/Administration/Nrp/NrpPanelEui.cs
  Content.Shared/Imperial/Medieval/Admin/MessageNotif/MessageNotifPrototype.cs
  Content.Shared/Imperial/Medieval/Administration/Nrp/NrpPanelEuiMessages.cs
  Resources/Audio/Imperial/Medieval/Misk/pop.ogg
  Resources/Locale/ru-RU/Imperial/Medieval/nrp-panel.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Prototypes/Imperial/Medieval/Admin/banned_word.yml
Labels: size/Large

#432 Fix Ивентовый контент
  Resources/Audio/Imperial/Crook/backrooms/Judahs_Lullaby.ogg
  Resources/Prototypes/Imperial/Crook/misc.yml
Labels: size/Small, Prototypes, Change WIz Prototypes, Audio

#439 Ивентовый контент
  Resources/Audio/Imperial/Crook/backrooms/Icarus.ogg
Labels: Audio

#438 [Tweak] NinjaHeadsetSystem.cs
  Content.Server/Imperial/Ninja/NinjaHeadset/NinjaHeadsetSystem.cs
Labels: C#

#448 Хирургический модуль для мед. боргов
  Resources/Locale/ru-RU/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Prototypes/Imperial/Roles/Jobs/Synthetics/ImperialBorgModules.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/borg_types.yml
Labels: size/Small, Prototypes, Change WIz Prototypes

#451 Экономика элизиума!
  Resources/Locale/ru-RU/Imperial/DeadSector/cash_and_etc/catalog.ftl
  Resources/Locale/ru-RU/Imperial/Felix/objects.ftl
  Resources/Prototypes/Imperial/DeadSector/Terminal_weapons/categories.yml
  Resources/Prototypes/Imperial/DeadSector/clothing/outer_clothing.yml
  Resources/Prototypes/Imperial/Felix/Catalog.yml
  Resources/Prototypes/Imperial/Felix/Categories.yml
  Resources/Prototypes/Imperial/Felix/objects.yml
Labels: Prototypes, Change WIz Prototypes

#453 Локализация слоёв труб
  Resources/Locale/ru-RU/atmos/atmos-pipe-layers.ftl
Labels: size/Small

#452 Локализация
  Resources/Locale/ru-RU/Imperial/entities/machines/specific.ftl
  Resources/Locale/ru-RU/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/consumable/food/baked/donkpocket.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/consumable/food/baked/pizza.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/consumable/food/containers/box.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
Labels: size/Small

#454 fix: локализация информации о раунде
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/preset.ftl
Labels: size/Small

#450 Аллах реален
  Resources/Locale/ru-RU/Imperial/Bush/locale.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Imperial/Bush/clothing.yml
  Resources/Prototypes/Imperial/Bush/misc.yml
  Resources/Textures/Imperial/Bush/Clothing/imam.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Bush/Clothing/imam.rsi/icon.png
  Resources/Textures/Imperial/Bush/Clothing/imam.rsi/inhand-left.png
  Resources/Textures/Imperial/Bush/Clothing/imam.rsi/inhand-right.png
  Resources/Textures/Imperial/Bush/Clothing/imam.rsi/meta.json
  Resources/Textures/Imperial/Bush/allah.rsi/icon.png
  Resources/Textures/Imperial/Bush/allah.rsi/inhand-left.png
  Resources/Textures/Imperial/Bush/allah.rsi/inhand-right.png
  Resources/Textures/Imperial/Bush/allah.rsi/meta.json
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite
