Repository imperial-space/SS14-public, pull requests merged in 2025-10, with the labels that each got.

#458 Небольшие изменения в ивентовом контенте
  Resources/Locale/ru-RU/Imperial/TDM/PrototypesTDM.ftl
  Resources/Prototypes/Imperial/ForTDMRoles/PrototypesForTDM/LocalizedTDM.yml
  Resources/Prototypes/Imperial/ForTDMRoles/RolePrototypes/TDMRoleForest.yml
  Resources/Prototypes/Imperial/ForTDMRoles/RolePrototypes/TDMRoleSnow.yml
  Resources/Prototypes/Imperial/ForTDMRoles/RolePrototypes/TDMRoleUrban.yml
Labels: size/Small, Prototypes, Change WIz Prototypes

#467 Ивентовый контент
  Resources/Locale/ru-RU/Imperial/Crook/misc.ftl
  Resources/Prototypes/Imperial/Crook/misc.yml
  Resources/Prototypes/Imperial/Crook/samurai.yml
  Resources/Textures/Imperial/Crook/NuclearDawn/scouthelmet.rsi/off-equipped-HELMET.png
  Resources/Textures/Imperial/Crook/NuclearDawn/scouthelmet.rsi/on-equipped-HELMET.png
  Resources/Textures/Imperial/Crook/NuclearDawn/scoutsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Crook/Samurai/helmet.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Crook/Samurai/suit.rsi/equipped-OUTERCLOTHING.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#460 Неисправный Киборг
  Content.Server/Imperial/SyndieBorg/SyndieBorgComponent.cs
  Content.Server/Imperial/SyndieBorg/SyndieBorgSystem.cs
  Resources/Locale/ru-RU/Imperial/SyndieBorg/syndie-borg.ftl
  Resources/Prototypes/Imperial/SyndieBorg/gamerule.yml
  Resources/Prototypes/Imperial/SyndieBorg/objectives.yml
  Resources/Prototypes/Imperial/SyndieBorg/role.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/game_presets.yml
Labels: Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes

#459 Обновление битвы предателей
  Content.Server/Imperial/XxRaay/SyndieBattle/RespawnTouchComponent.cs
  Content.Server/Imperial/XxRaay/SyndieBattle/RespawnTouchSystem.cs
  Content.Server/Imperial/XxRaay/SyndieBattle/SyndieBattleRuleComponent.cs
  Content.Server/Imperial/XxRaay/SyndieBattle/SyndieBattleRuleSystem.cs
  Content.Server/Imperial/XxRaay/SyndieBattle/SyndieBattleScoreComponent.cs
  Resources/Maps/Imperial/SyndieBattle/RespawnMap.yml
  Resources/Prototypes/Imperial/XxRaay/syndiebattle_uplink.yml
  Resources/Prototypes/Imperial/XxRaay/syndiebattle_uplink_categories.yml
Labels: Change Wiz Code, size/Medium, Prototypes, C#, Change WIz Prototypes, Grid

#471 ФИКС БОРГОВ-ТРЕЙТЕРОВ + НОВЫЕ МОДУЛИ АГЕНТАМ
  Content.Server/Imperial/HandledCuffer/HandledCuffer.cs
  Content.Server/Imperial/HandledCuffer/HandledCufferComponent.cs
  Resources/Locale/ru-RU/Imperial/SyndieBorg/modules.ftl
  Resources/Prototypes/GameRules/subgamemodes.yml
  Resources/Prototypes/Imperial/SyndieBorg/SyndieModules/abduct_module.yml
  Resources/Prototypes/Imperial/SyndieBorg/SyndieModules/advanced_combat_module.yml
  Resources/Prototypes/Imperial/SyndieBorg/SyndieModules/guardian_angel_module.yml
  Resources/Prototypes/Imperial/SyndieBorg/SyndieModules/handcuff.yml
  Resources/Prototypes/Imperial/SyndieBorg/SyndieModules/modules.yml
  Resources/Prototypes/Imperial/SyndieBorg/SyndieModules/sotre.yml
  Resources/Prototypes/Imperial/SyndieBorg/gamerule.yml
  Resources/Textures/Imperial/SyndieBorg/interface.rsi/abduct-module.png
  Resources/Textures/Imperial/SyndieBorg/interface.rsi/advanced-fiting-module.png
  Resources/Textures/Imperial/SyndieBorg/interface.rsi/advanced-tools.png
  Resources/Textures/Imperial/SyndieBorg/interface.rsi/guardian-angel-module.png
  Resources/Textures/Imperial/SyndieBorg/interface.rsi/meta.json
Labels: Resprite, Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes, Sprite
