Repository imperial-space/SS14-public, pull requests merged in 2025-04, with the labels that each got.

#200 Emergency Shuttle Fix
  Resources/Maps/Nonstations/cluwne_remap.yml
Labels: size/Small

#201 ЛУЧШИЙ АНТАГ В ИСТОРИИ СПЕЙС СТЕШН 15!!!
  Resources/Locale/ru-RU/Imperial/Cluwne/cluwne.ftl
  Resources/Maps/Nonstations/cluwne_remap.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Imperial/Cluwne/cluwne_box.yml
  Resources/Prototypes/Imperial/Cluwne/cluwne_items.yml
  Resources/Prototypes/Imperial/Cluwne/cluwne_role.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/Imperial/Cluwne/antique_piegun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Cluwne/antique_piegun.rsi/icon.png
  Resources/Textures/Imperial/Cluwne/antique_piegun.rsi/inhand-left.png
  Resources/Textures/Imperial/Cluwne/antique_piegun.rsi/inhand-right.png
  Resources/Textures/Imperial/Cluwne/antique_piegun.rsi/meta.json
  Resources/Textures/Imperial/Cluwne/combat_shoegloves.rsi/equipped-HAND.png
  Resources/Textures/Imperial/Cluwne/combat_shoegloves.rsi/icon.png
  Resources/Textures/Imperial/Cluwne/combat_shoegloves.rsi/inhand-left.png
  Resources/Textures/Imperial/Cluwne/combat_shoegloves.rsi/inhand-right.png
  Resources/Textures/Imperial/Cluwne/combat_shoegloves.rsi/meta.json
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/equipped-EYES.png
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/icon.png
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/inhand-left.png
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/inhand-right.png
  Resources/Textures/Imperial/Cluwne/nerd_glasses.rsi/meta.json
Labels: Resprite, size/Medium, Prototypes, Change WIz Prototypes, Sprite

#206 Ивентовый контент | Ратвар
  Resources/Prototypes/Imperial/Crook/plushies.yml
  Resources/Prototypes/Imperial/KAKTYC/Ratvar/misc.yml
  Resources/Prototypes/Imperial/Other/TFG/Toughguys/funcrate.yml
  Resources/Prototypes/Imperial/Other/TFG/Toughguys/plushie_spawner.yml
  Resources/Textures/Imperial/Crook/Plushie/erikasteinhofer.rsi/icon.png
  Resources/Textures/Imperial/Crook/Plushie/erikasteinhofer.rsi/inhand-left.png
  Resources/Textures/Imperial/Crook/Plushie/erikasteinhofer.rsi/inhand-right.png
  Resources/Textures/Imperial/Crook/Plushie/erikasteinhofer.rsi/meta.json
  Resources/Textures/Imperial/KAKTYC/Ratvar/pylon.rsi/icon.png
  Resources/Textures/Imperial/KAKTYC/Ratvar/pylon.rsi/meta.json
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#171 Песок
  Resources/Locale/ru-RU/Imperial/Crook/misc.ftl
  Resources/Prototypes/Imperial/Crook/misc.yml
  Resources/Textures/Imperial/Crook/Misc/Tiles/sand.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#186 Фикс прототипов
  Resources/Prototypes/Imperial/ForTDMRoles/RolePrototypes/RolePrototypes.yml
  Resources/Prototypes/Imperial/ForTDMRoles/TDMLoadouts/TDMLoadouts.yml
Labels: size/Small, Prototypes

#187 Фикс Мурасамы
  Resources/Locale/ru-RU/Imperial/Unsorted/entities.ftl
  Resources/Prototypes/Imperial/Other/TFG/HFMurasama/Murasama_loadout.yml
  Resources/Textures/Imperial/Other/TFG/Murasama/murasama_blade.rsi/icon.png
  Resources/Textures/Imperial/Other/TFG/Murasama/murasama_sheath.rsi/sheath-blade.png
  Resources/Textures/Imperial/Other/TFG/Murasama/murasama_sheath.rsi/sheath.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#192 Перевод рекламного спама и прочего, связанного с почтой.
  Resources/Locale/ru-RU/delivery/deliveries-items.ftl
  Resources/Locale/ru-RU/delivery/delivery-component.ftl
  Resources/Locale/ru-RU/delivery/delivery-spam.ftl
Labels: size/Small

#209 Дополнение к контенту для ивента
  Resources/Locale/ru-RU/Imperial/TDM/TDM.ftl
  Resources/Locale/ru-RU/Imperial/TDM/TDMForest.ftl
  Resources/Locale/ru-RU/Imperial/TDM/TDMSnow.ftl
  Resources/Locale/ru-RU/Imperial/TDM/TDMUrban.ftl
  Resources/Prototypes/Imperial/ForTDMRoles/RolePrototypes/TDMRoleForest.yml
  Resources/Prototypes/Imperial/ForTDMRoles/RolePrototypes/TDMRoleSnow.yml
  Resources/Prototypes/Imperial/ForTDMRoles/RolePrototypes/TDMRoleUrban.yml
  Resources/Prototypes/Imperial/ForTDMRoles/TDMLoadouts/TDMLoadoutForest.yml
  Resources/Prototypes/Imperial/ForTDMRoles/TDMLoadouts/TDMLoadoutSnow.yml
  Resources/Prototypes/Imperial/ForTDMRoles/TDMLoadouts/TDMLoadoutUrban.yml
  Resources/Prototypes/Imperial/ForTDMRoles/TDMSpawners/TDMForestSpawners.yml
  Resources/Prototypes/Imperial/ForTDMRoles/TDMSpawners/TDMSnowSpawners.yml
  Resources/Prototypes/Imperial/ForTDMRoles/TDMSpawners/TDMUrbanSpawners.yml
Labels: size/Medium, Prototypes, Change WIz Prototypes

#210 Fix
  Resources/Locale/ru-RU/Imperial/TDM/TDMForest.ftl
  Resources/Locale/ru-RU/Imperial/TDM/TDMSnow.ftl
  Resources/Locale/ru-RU/Imperial/TDM/TDMUrban.ftl
Labels: size/Small

#188 Фикс перевода
  Resources/Locale/ru-RU/prototypes/entities/structures/walls/imperial_walls.ftl
Labels: size/Small

#189 Взрывные галоши + фикс
  Resources/Locale/ru-RU/Imperial/Expclothing/exclothing.ftl
  Resources/Prototypes/Catalog/Imperial/uplink_catalog.yml
  Resources/Prototypes/Imperial/Clothing/ExplosiveClothing/uplink.yml
Labels: size/Small, Prototypes, Change WIz Prototypes

#212 СБ борги теперь могут брать наручники!
  Content.Shared/Imperial/ImperialBorgs/ImperialBorgHandsComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Imperial/Roles/Jobs/Synthetics/SecurityCyborg.yml
Labels: Change Wiz Code, size/Small, Prototypes, C#, Change WIz Prototypes

#215 Новая плюшевая игрушка.
  Resources/Locale/ru-RU/Imperial/TFG/Toughguys/Toughguys.ftl
  Resources/Prototypes/Imperial/Other/TFG/Toughguys/funcrate.yml
  Resources/Prototypes/Imperial/Other/TFG/Toughguys/plushie_EasterEgg.yml
  Resources/Prototypes/Imperial/Other/TFG/Toughguys/plushie_prototypes.yml
  Resources/Prototypes/Imperial/Other/TFG/Toughguys/plushie_spawner.yml
  Resources/Textures/Imperial/Other/TFG/Toughguys/Yesenia.rsi/icon.png
  Resources/Textures/Imperial/Other/TFG/Toughguys/Yesenia.rsi/inhand-left.png
  Resources/Textures/Imperial/Other/TFG/Toughguys/Yesenia.rsi/inhand-right.png
  Resources/Textures/Imperial/Other/TFG/Toughguys/Yesenia.rsi/meta.json
  Resources/Textures/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/Objects/Misc/pens.rsi/pen_centcom_gift.png
Labels: Resprite, size/Small, Prototypes, Change WIz Prototypes, Sprite

#217 Пересмотр продаваемых товаров карго
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/base_machineboard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/atmos_alarms.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/disposal.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/firelock.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/intercom.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/timer.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: size/Small, Change WIz Prototypes
